/* Marquardt Snell       */
/* www.tadaatiedye.com   */
/* main.css              */
/* This is the main style sheet, it controls the layout,fonts, and default colors */
/* default color is Paletton Adjacent colors */
/* Hue: 280 Dist: 45 Base: 4A11AE  */
/* The colors are overwritten by the timeOfDayStylesheets  */

body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: large;
    font-family: "comic sans ms", cursive;
    color: rgba(0,0,0,0.5);
    background: #7E57C2;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background: #6335B3;
}

    header img {
        width: 70%;
        height: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

aside {
    float: right;
    overflow: auto;
    border: solid 3px red;
    width: 15em;
    min-height: 100px;
    max-height: 500px;
    border-radius: 1.2em;
}

    article.GitHub {
        max-width: 25%;
        float: right;
    }

#sidebar {
    width: 15%;
    min-width: 8em;
    float: left;
    border: 3px solid;
    /* round off bottom right corner */
    border-radius: 0 0 3em 0;
}

#topmenu ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    min-width: 40%;
    padding: 1%;
    margin-left: 1%;
    list-style-type: none;
    font-size: 1.5em;
}

#topmenu li {
    display: inline;
    margin: 1%;
    padding: 1%;
    min-width: 100px;
    float: left;
    border: 2px solid;
    box-shadow: 5px 5px 3px;
    border-radius: 1em;
}

.pager {
    /*  handles the '<< 1 2 3 >>' nav menu */
    list-style-type: none;
    float: right;
}

    .pager li {
        display: inline;
    }

form.pager {
    display: inline;
}




section {
    width: 100%;
}

article {
    margin-left: 3em;
    margin-right: 3em;
}

footer {
    width: 100%;
    clear: left;
    text-align: center;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    margin-bottom: 2em;
}

p:first-letter {
    font-size: 2em;
    font-family: "comic sans ms", cursive;
    color: green;
    vertical-align: text-bottom;
    word-break: keep-all;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "comic sans ms", sans-serif;
    color: rgb(75,205,75);
}

hr {
    width: 75%;
}

input[type=number] {
    /* -moz-appearance: textfield; */
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 10%;
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    width: 2.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-size: 1.0em;
    font-family: "comic sans ms", cursive;
}

[type="submit"], .styled_button {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1em;
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: width 0.4s; /* Safari */
    transition: width 0.4s;
    font-size: 1.0em;
    font-family: "comic sans ms", cursive;
    text-decoration: none;
}

    [type="submit"]:hover {
        color: rgba(250, 250, 250, 0.6);
        border: 2px solid rgba(250, 250, 250, 0.6);
    }

    [type="submit"]:focus {
    }

.styled-button {
}

.flexcontainer {
    /* The main display uses css3 flexible box to align the boxes */
    /* Safari */
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    background-color: rgba(50,100,30,0);
}

ul.flexcontainer {
}

.flexsingle {
    /* this controls the behavior of each individual box */
    background-color: cornflowerblue;
    list-style-type: none;
    border: 3px solid;
    border-radius: 10% 10% 10% 10%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}



.cart {
    border-collapse: separate;
    border-radius: 3em;
    border: 3px solid;
    max-width: 75%;
    min-width: 50%;
    padding: 1% 3% 1% 3%;
    font-size: 1.0em;
}

    .cart th, td {
        max-width: 12%;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: middle;
    }

.line_item:hover {
    background: rebeccapurple;
    color: rgba(200, 200, 200, 0.5);
    border: 1px solid rebeccapurple;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.line_item:focus::after {
    background: rebeccapurple;
    color: rgba(200, 200, 200, 0.5);
    border: 1px solid rebeccapurple;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

td#light {
    background-color: rgb(225, 250, 225);
}

td#dark {
    background-color: rgb(200, 225, 200);
}
