/* Marquardt Snell 		 */
/* www.tadaatiedye.com   */
/* color###degrees.css          */
/* where ### = the number of degrees
	as Hue on the color wheel.*/
 

/* from Paletton.com */
/* export for .LESS / .css */
/* Adjacent colors, Hue = ###, dist 45 w/complimentary */


body
{
	color: rgba(0,0,0,0.5);
	/* background: primary-1 */	
	background: #FFBC63;	
	/* Section title, section heads secondary-1-4 */

}
header
{
	/* background: primary-2 */
	background: #FFAA39;
}

#sidebar
{
	/* color: secondary-1-4 */
	color: #9B8000;
	/* background: secondary-1-0 */
	background: #FFD300;
	/* border: secondary-1-3 */
	border-color: #C5A300;
}

#sidebar a:link
{
	/* color: secondary-1-4 */
	color: #9B8000;
	/* background: secondary-1-0 */
	background: #FFD300;
}

#sidebar a:hover 
{
	/* color: secondary-1-0 */
	color: #FFD300;
	/* background: secondary-1-4 */
	background: #9B8000;
}

span 
{
	/* background secondary-1-2 */
	background: #FFDD39;
}


#topmenu ul
{
	/* color: secondary-1-4 */
	color: #9B8000;
	/* background: secondary-1-1 */
	background: #FFE463;
}

#topmenu a:hover 
{
	/* color: secondary-1-1 */
	color: #FFE463;
	/* background: secondary-1-4 */
	background: #9B8000;
}
footer
{
	/* color: secondary-2-4 */
	color: #9B0000;
	/* background: secondary-2-1 */	
	background: #FF6363; 
	/* border: secondary-2-3 */
	border-color: #C50000;
}
	
p:first-letter
{
	/* color: primary-4 */
	color: #9B5900;
}

a:link
{
	/* color: primary-4 */
	color: #9B5900;
	/* background: transparent */
	background: rgba(0,0,0,0);
}

a:visited
{
	/* color: primary-3 */
	color: #C57100;
}

a:hover
{
	/* color: complement-1 */
	color: #508CBB;
	/* background: complement-3  */
	background: #084B7F;
}

a:active
{
	color: black;	
}

&.current 
{  /* class to disable the link to the current page */
	/* color: secondary-1-0 */
	color: #FFD300;
	/* background: secondary-1-3 */
	background: #C5A300;
}


h1
{
	/* color: primary-3 */
	color: #C57100;
}

h2
{
	/* color: primary-0 */
	color: #FF9200;
}

td#light
{
	/* Background-color: comlpement-1 */
	background-color: #508CBB;
}

td#dark
{
	/* Background-color: comlpement-2 */
	background-color: #2E74AA;
}

