@{
    ViewBag.Title = "Paging";
}

<h2>Paging</h2>
<article class="GitHub">
    You can downlod the code for my 
<a href="https://github.com/TheFabulousCube/Pagination">Paginator</a> on GitHub.
</article>

The State Magnets page shows this best.  You go from page to page.  If you are at the front or end of the list, you don't get the options to go to the front or back.  You can also set the number of items shown on the page.