@{
    ViewBag.Title = "DIY";
}
<!-- Marquardt 'Cube' Snell -->
<!-- www.tadaatiedye.com -->

<h2>I'm so glad you enjoy our tie dye!</h2>
		<article>
			  It's really fun to do it yourself!  There are many ways to learn.  We offer some @Html.ActionLink("DVDs", "DVD", "DIY") and a selection of instructional  @Html.ActionLink("books", "Books", "DIY").  There are many modern tools available that make this craft much easier.  Even if you've done tie dye before, it's a good idea to brush up on the tools and skills you will need.  You might even get some great ideas you want to try out!
		</article>