@model IEnumerable<MySite.Models.Clothing>

@{
    ViewBag.Title = "Clothing";
}

<h2>Tie Dyed Stuff!</h2>

		<p>	Welcome to our clothing page, you may browse this open list, our search for items.  You may search for items either by @Html.ActionLink("size", "Size"), by @Html.ActionLink("type", "Type"), or just @Html.ActionLink("browse", "Browse") our inventory.  We have sizes for adults, children, even infants!  There are a variety of items from T-shirts to onesies.




