@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
			<p>  We are a home based business, not a factory.  All of our items are one of a kind, not mass produced.  We can take requests, but they don't always turn out exactly the way we intend, so no promises!  

			<p id="Bonnie">When our daughter was about 3 years old, we had her model some of the clothes my wife had made.  Whe she came into the room wearing a new tie dyes dress she shouted "Ta  Daa!"  We knew right then what to call our business.
			</p>
	
	<hr>
        </div>
    </section>
}

