@{
    ViewBag.Title = "General error";
}

<h2>General error</h2>

    
        Error message: @ViewBag.message
		<img src="~/Images/giraffes.jpg" style="float: right" width="320" height="240" alt="Cute picture of giraffes, everybody loves giraffes!">
	<p>	Wow.  I just don't really know what happened.  This is an unexpected error I never thought would happen.  
	<br>Sorry, most things work right if everything goes fine. 
	<br><br>It'll probably help if you back up and try it again.  Here's a cute picture of a giraffe and a cool picture of a dolphin my daughter (yes, the same one from "Ta Daa!" fame) drew for you to help make you feel better.
	<br>And there's navigation links to help get you back on your way.  Thanks for stopping by.
		<img src="~/Images/Cute Website Dolphin.png" style="float: left" width="320" height="240" alt="Cool picture of dolphins.">
		<p>You got here from @Html.ActionLink("ViewBag.returnUrl", "ViewBag.returnUrl"), you can go back there if you want.</p>
