@{
    ViewBag.Title = "HttpError404";
}

<h2>Http Error 404: Page not found</h2>
	<article>
	<h1>404: Page not found error</h1>
        Error message: @ViewBag.message
		<img src="~/Images/giraffes.jpg" style="float: right" width="320" height="240" alt="Cute picture of giraffes, everybody loves giraffes!">
	<p>	We've searched high and low, we just can't find the page you're looking for.  It's probably our fault.  I may not have written it yet, sorry.  
	<br>It could be your fault, though.  You may have typed something in wrong.  
	<br><br>Hey, let's not place blame, your fault, my fault, what's the difference?  Here's a cute picture of a giraffe and a cool picture of a dolphin my daughter (yes, the same one from "Ta Daa!" fame) drew for you to help make you feel better.
	<br>And there's navigation links to help get you back on your way.  Thanks for stopping by.
		<img src="~/Images/Cute Website Dolphin.png" style="float: left" width="320" height="240" alt="Cool picture of dolphins.">
		
	</article>